<nav class="bg-black fixed w-full top-0 left-0 right-0 h-20 z-50 bg-opacity-90">
  <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">NodeBlog</span>
    </a>
    <ul class="font-medium flex justify-end items-center gap-4 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a href="/list/1" id="list" class="block text-gray-400 rounded hover:text-white md:hover:bg-transparent md:border-0">List</a>
      </li>
      <li>
        <a href="/write" id="write" class="block text-gray-400 rounded hover:text-white md:hover:bg-transparent md:border-0">Write</a>
      </li>
      <% if (isAuthenticated) { %>
      <li class="relative">
        <!-- 프로필 이미지 -->
        <a class="block cursor-pointer" id="profileDropdownToggle">
          <!--ternary operator-->
          <img src="<%= profileImage ? profileImage : '/images/profile.svg' %>" alt="profile" class="w-8 h-8 rounded-full" id="navProfileImg">
        </a>

        <!-- 드롭다운 메뉴 -->
        <ul id="profileDropdownMenu" class="hidden absolute right-0 w-40 mt-2 bg-white rounded-lg shadow-lg overflow-hidden">
          <li>
            <a href="/myPage" class="block px-4 py-2 text-gray-700 hover:bg-black hover:text-white cursor-pointer">My Page</a>
          </li>
          <li>
            <a class="block px-4 py-2 text-gray-700 hover:bg-black hover:text-white cursor-pointer" id="signOutBtn">Sign Out</a>
          </li>
        </ul>
      </li>
      <% } else { %>
      <li>
        <a href="/login" class="block text-gray-400 hover:text-white">Login</a>
      </li>

      <li>
        <a href="/signup" class="block text-gray-400 hover:text-white">Sign Up</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>

<style>
  #navProfileImg:hover {
    filter: brightness(1.5);
  }
</style>
<script src="/main.js"></script>