<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/output.css" rel="stylesheet" />
  </head>

  <style>
    .tag {
      margin: 0px 5px;
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 5px;
    }


  </style>

  <body class="bg-gray-100">
    <%- include('nav.ejs') %>

    <section id="writeWrapper" class="p-4">
      <div class="max-w-5xl mx-auto">
        <h2 class="mb-6">Please share your thoughts! We love your stories.</h2>
        <div class="mb-5">
          <span class="text-lg">Title</span>
          <input
            type="text"
            id="text"
            name="title"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Title"
            required
          />
        </div>

        <div class="mb-5">
          <span class="text-lg">Tag</span>
          <div class="flex flex-wrap items-center">
            <div id="taglist" class="flex gap-4 flex-wrap"></div>
            <input
              type="text"
              id="tagInput"
              name="tag"
              class="bg-gray-50 w-1/2 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Type your tag"
            />
          </div>
        </div>

        <div class="mb-5">
          <span class="text-lg">Content</span>
          <ul class="flex items-center gap-3">
            <li class="cursor-pointer hover:bg-slate-300 rounded-lg">
              <span id="h1Btn" data-tag="1" class="block p-1">H1</span>
            </li>
            <li class="cursor-pointer hover:bg-slate-300 rounded-lg">
              <span id="h2Btn" data-tag="2" class="block p-1">H2</span>
            </li>
            <li class="cursor-pointer hover:bg-slate-300 rounded-lg">
              <span id="h3Btn" data-tag="3" class="block p-1">H3</span>
            </li>
            <li
              id="boldBtn"
              class="cursor-pointer hover:bg-slate-300 rounded-lg"
            >
              <span class="block p-1 font-bold">Bold</span>
            </li>
            <li
              id="imgUploadBtn"
              class="cursor-pointer hover:bg-slate-300 rounded-lg p-1"
            >
            <div  class="cursor-pointer">
              <label for="file-input">
                  <img src="images/imgUpload.svg" width="30" class="cursor-pointer"/>
              </label>
          
              <input id="file-input" type="file" class="hidden"/>
          </div>
            </li>
          </ul>

          <textarea
            id="content"
            name="content"
            rows="10"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
          </textarea>
        </div>

        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Submit
        </button>
      </div>
    </section>

    <script type="module" src="/write.js"></script>
  </body>
</html>
