<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeBlog Write</title>
    <link href="/output.css" rel="stylesheet" />
  </head>

  <style>
    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.17em;
    }

    textarea {
      font-size: 16px;
      padding: 10px;
    }
    #preview {
      border: 1px solid #ccc;
      padding: 10px;
      font-size: 16px;
      overflow-y: auto;
      white-space: pre-wrap;
    }

    #taglist span {
      background-color: #fff2f2;
      padding: 4px 8px;
      color: rgb(110, 216, 5);
      border-radius: 5px;
    }

  </style>

  <body class="bg-white">
    <%- include('nav.ejs') %>

    <h2 class="mb-2 p-4 mt-24">Your voice matters! Share your experiences and inspire others.</h2>
    <section id="writeWrapper" class="p-4 md:grid md:grid-cols-2 gap-4">
      <div class="max-w-5xl ">
        
        <div class="mb-5">
          <span class="text-lg">Title</span>
          <input
            type="text"
            id="text"
            name="title"
            class="bg-gray-50 border mt-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Title"
            required
          />
        </div>

        <div class="mb-5">
          <span class="text-lg mb-4">Tag</span>
          <div class="flex flex-wrap items-center mt-2">
            
            <input
              type="text"
              id="tagInput"
              name="tag"
              class="bg-gray-50 border  mb-4 w-full text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Type your tag and hit Enter"
            />
            <div id="taglist" class="flex gap-4 flex-wrap"></div>
          </div>
        </div>

        <div class="mb-5">
          <span class="text-lg">Content</span>
          <ul class="flex items-center gap-3">
            <li class="cursor-pointer hover:bg-slate-300 rounded-lg">
              <span id="h1Btn" data-tag="1" class="block p-1">H1</span>
            </li>
            <li class="cursor-pointer hover:bg-slate-300 rounded-lg">
              <span id="h2Btn" data-tag="2" class="block p-1">H2</span>
            </li>
            <li class="cursor-pointer hover:bg-slate-300 rounded-lg">
              <span id="h3Btn" data-tag="3" class="block p-1">H3</span>
            </li>
            <li
              id="boldBtn"
              class="cursor-pointer hover:bg-slate-300 rounded-lg"
            >
              <span class="block p-1 font-bold">Bold</span>
            </li>
            <li
              id="imgUploadBtn"
              class="cursor-pointer hover:bg-slate-300 rounded-lg p-1"
            >
            <div  class="cursor-pointer">
              <label for="file-input">
                  <img src="images/imgUpload.svg" width="30" class="cursor-pointer"/>
              </label>
          
              <input id="file-input" type="file" class="hidden" accept="image/*"/>
          </div>
            </li>
          </ul>

          <textarea
            id="content"
            name="content"
            rows="10"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          ></textarea>
        </div>
        <button id="publishBtn"
          class="text-white bg-blue-700 block mx-auto hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Publish
        </button>
      </div>

      <div id="markdownPreview" class="hidden md:block text-wrap">
        <span class="text-lg">Preview</span>
        <div id="preview" class="bg-white border p-4 rounded-xl  h-full break-all"></div>
      </div>
    </section>


    
    <script type="module" src="/write.js"></script>
    
  </body>
</html>
